@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
    font-family: "Poppins";
    background-color: #06327d;
    font-size: 1.125rem;
    line-height: 1.5;
}

main{
   border-top: 5px solid #ffd034;
   border-bottom: 5px solid #ffd034;
   background-color: #cadbf8;
}

.everything{
    max-width: 1200px;
    margin: auto;
}

h1{
    font-size: 3rem;
    line-height: 1.1667;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    float: right;
}


h2{
    font-size: 2.5rem;
    line-height: 1.1667;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 3rem;
}

h3{
    font-size: 1.75rem;
    line-height: 1.1667;
    font-weight: 300;
}

.logo{
    display: flex;
    align-items:end;
    flex-flow: row wrap;
}

.logoimg{
    margin-right: 1rem;
}

header{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    padding: 1rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
    gap: 1rem;
    margin: 0;
    padding-bottom: 1rem;
    justify-content: center;
}

nav a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

nav a:hover{
    color: #ffd034;
}

.container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    gap: 1.5rem;
}

.image1{
    /* text-align: center; */
    max-width: 100%;
    /* margin: 3rem 1rem; */
}

.column1intro{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    /* margin: 1rem; */
}

.column2intro{
    display:grid;
    grid-column: 2/3;
}

.button1{
    display: inline-block;
    background-color: #209d5c;
    text-decoration: none;
    color: #ffffff;
    padding: 0.6rem;
    border-radius: 10px;
    margin-bottom: 0;
}

.button1:hover{
    background-color: #ffd034;
    color: #06327d;
}

.container2{
    display: grid;
    grid-template-columns: 1fr;
}

.heading2{
    margin-left: 1.5rem;
}

.cardimage{
    border-radius: 10px;
    display:flex;
    max-width: 100%;
    align-items: center;
}

.card{
display: grid;
margin: 1rem;
}

.button{
display: inline-block;
background-color:#06327d;
color:#ffffff;
text-decoration: none;
padding: 0.7rem;
border-radius: 10px;
}

.button:hover{
    background-color: #209d5c;
    color: #ffd034;
}

footer{
    text-align: center;
}

.footerp{
    color: white;
} 

@media (min-width: 650px){
.container2{
display: grid;
grid-template-columns: 1fr 1fr
    }
.image1{
    margin: 0;
}
}

@media (min-width: 1000px){
    .container2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 950px){
    header{
        justify-content: space-between;
        align-items: flex-end;
    }
    
}